.footoer{
    background-image: url(https://templatemo.com/templates/templatemo_573_eduwell/assets/images/footer-bg.png
);
background-position: center;
background-size: cover;
width: 100%;
height: 100%;
}