.desc{
    &-01{
        font-size:clamp(0.9rem, 1vw, 1rem);
    }
}

.footer{
    background-image: url("../bg/footer-bg.png"); 
background-position: center center;
background-repeat: no-repeat;
background-size: cover;
padding: 0px;
position: relative;
height: 100%;
&-icon{
    .nav-link{
        width: 44px;
        height: 44px;
        display: inline-block;
        text-align: center;
        line-height: 44px;
        background-color: #fff;
        color: #dc8cdb;
        border-radius: 50%;
        transition: all .5s;
    }
        .fab,.fa{
            content: "\f09e";
        }
        &:hover{
background-color: #000;
        }
    }

}
